#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.App {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: transparent;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}